@use "../base/variables" as v;
@use "../utils/mixins" as m;
@use "../utils/placeholders";

.form-field {
  $border-radius: 0.6rem;
  $root: &;
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  width: 100%;

  @media (hover: hover) {
    &:hover {
      #{$root} {
        &__label {
          color: v.$accent-color;
        }

        &__input {
          outline-color: v.$accent-color;
        }
      }
    }
  }

  &:focus-within {
    #{$root} {
      &__label {
        color: v.$accent-color;
      }
    }
  }

  &:has(#{$root}__input:disabled) {
    pointer-events: none;
    opacity: 0.5;
  }

  &:has(#{$root}__btn) {
    #{$root} {
      &__input {
        padding-right: 4.8rem;
      }
    }
  }

  &__label {
    @include m.transition(color);
    font-size: 1.6rem;
  }

  &__inner {
    position: relative;
  }

  &__input {
    @include m.transition(outline);
    @extend %standard-outline;
    width: 100%;
    font-size: 1.4rem;
    background-color: rgba(v.$white, 0.08);
    border: 0.1rem solid rgba(v.$white, 0.06);
    border-radius: $border-radius;
    padding-block: 1.2rem;
    padding-left: 4.8rem;
    padding-right: 1.6rem;
    color: v.$white;

    &:focus {
      outline-color: v.$accent-color;
    }

    &::placeholder {
      font-family: inherit;
      font-size: 1.4rem;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      transition: background-color 99999s ease-in-out 0s;
      box-shadow: 0 0 0 1000px #000000 inset !important;
      -webkit-text-fill-color: v.$white !important;
      -webkit-box-shadow: 0 0 0 1000px #000000 inset !important;
    }
  }

  &__icon {
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    left: 1.6rem;
    top: 50%;
    translate: 0 -50%;
  }

  &__btn {
    @include m.transition((background-color, color, opacity));
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 50%;
    translate: 0 -50%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    color: v.$white;
    width: 4.4rem;
    height: 100%;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        background-color: v.$accent-color;
        color: v.$black;
      }
    }

    &:active {
      opacity: 0.6;
    }

    &:focus-visible {
      background-color: v.$accent-color;
      color: v.$black;
    }
  }

  &__btn-icon {
    width: 2rem;
    aspect-ratio: 1;
  }

  &__text {
    color: v.$gray;
    font-size: 1.4rem;
  }
}
