@use "../base/variables" as v;
@use "../utils/mixins" as m;
@use "../utils/placeholders";

.logo {
  $root: &;
  @include m.transition((color, outline-color));
  @extend %standard-outline;
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  color: v.$white;
  font-size: 2rem;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 0.6rem;

  @media (hover: hover) {
    &:hover {
      color: v.$accent-color;

      #{$root} {
        &__icon {
          rotate: 1turn;
        }
      }
    }
  }

  &:focus-visible {
    outline-color: v.$accent-color;
  }

  &__icon {
    width: 2.4rem;
    flex-shrink: 0;
    aspect-ratio: 1;
    color: v.$accent-color;
    transition: rotate 1.5s ease;
  }
}
