@use "../base/variables" as v;
@use "../utils/mixins" as m;
@use "../utils/placeholders";

.main-form {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  max-width: 62rem;
  width: 100%;
  margin-inline: auto;
  overflow: hidden;
  padding-inline: 0.5rem;
  translate: 50%;
  opacity: 0;
  animation-name: translate-visible;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  @media (width >= 768px) {
    padding: 4.8rem;
    background-color: rgba(v.$white, 0.08);
    border-radius: 1.6rem;
    border: 0.1rem solid rgba(v.$white, 0.06);
    background-image: url("../img/dot.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }

  @media (width >= 1024px) {
    margin-inline: 0;
    flex-shrink: 0;
  }

  @media (width >= 1440px) {
    max-width: 68.7rem;
  }

  &__inner {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
  }

  &__btn {
    @include m.transition((opacity, translate));
    @extend %standard-outline;
    outline-offset: 0.4rem;
    font-size: 1.6rem;
    font-family: inherit;
    border-radius: 0.8rem;
    border: none;
    height: 4.8rem;
    white-space: nowrap;
    padding: 0;
    color: v.$black;
    background-image: v.$yellow-gradient;

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }

    &:active {
      translate: 0 0.5rem;
    }

    &:focus-visible {
      outline-color: v.$accent-color;
    }
  }

  &__text {
    font-size: 1.4rem;
    color: v.$gray;
  }

  &__link {
    $space: 0.2rem;
    @include m.transition((color, outline-color));
    @extend %standard-outline;
    position: relative;
    color: v.$white;
    padding: $space;
    border-radius: 0.4rem;

    &::before {
      content: "";
      @include m.transition(background-color);
      position: absolute;
      bottom: $space;
      left: $space;
      right: $space;
      background-color: v.$gray;
      height: 0.1rem;
    }

    @media (hover: hover) {
      &:hover {
        color: v.$accent-color;

        &::before {
          background-color: v.$accent-color;
        }
      }
    }

    &:focus-visible {
      outline-color: v.$accent-color;
    }
  }
}
