@use "../base/variables" as v;
@use "../utils/mixins" as m;
@use "../utils/placeholders";

.modal {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  width: 30rem;
  min-height: 30rem;
  color: v.$black;
  background-color: rgba(v.$accent-color, 0.8);
  border-radius: 1.6rem;
  padding: 2.5rem;
  border: 0.2rem solid rgba(v.$accent-color, 0.9);

  @media (width >= 375px) {
    width: 35rem;
  }

  @media (width >= 768px) {
    width: 60rem;
    min-height: 50rem;
    padding: 5rem;
    row-gap: 5rem;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;

    @media (width >= 768px) {
      font-size: 3.2rem;
    }
  }

  &__icon {
    width: 2.5rem;
    aspect-ratio: 1;
    color: green;
    flex-shrink: 0;
    scale: 0.9;
    animation-name: scale;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease;

    @media (width >= 768px) {
      width: 5rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  &__text {
    font-size: 1.6rem;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @media (width >= 768px) {
      font-size: 2.2rem;
    }

    span {
      color: green;
    }
  }

  &__btn {
    @include m.transition((opacity, translate));
    @extend %standard-outline;
    outline-offset: 0.4rem;
    outline-width: 0.3rem;
    margin-top: auto;
    font-size: 1.6rem;
    font-family: inherit;
    border-radius: 0.8rem;
    border: none;
    height: 4.8rem;
    white-space: nowrap;
    padding: 0;
    color: v.$accent-color;
    background-color: v.$dark;
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        opacity: 0.9;
        animation-play-state: paused;
      }
    }

    &:active {
      translate: 0 0.5rem;
    }

    &:focus-visible {
      outline-color: v.$dark;
    }
  }
}
