@use "../utils/mixins" as m;

.overlay {
  @include m.transition((opacity, backdrop-filter));
  position: fixed;
  inset: 0;
  backdrop-filter: blur(0);
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &--active {
    opacity: 1;
    backdrop-filter: blur(0.5rem);
    visibility: visible;
  }
}
