@use "../base/variables" as v;

@mixin transition($props) {
  transition-property: $props;
  transition-duration: v.$transition-duration;
  transition-timing-function: v.$transition-timing-function;
}
