@keyframes top-translate {
  100% {
    opacity: 1;
    translate: 0% 0%;
  }
}

@keyframes right-translate {
  100% {
    opacity: 1;
    translate: 0%;
  }
}

@keyframes bounce {
  50% {
    translate: 0 0.5rem;
  }
}

@keyframes scale {
  50% {
    scale: 1;
  }
}
