@use "./variables" as v;

html {
  font-size: 10px;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  font-family: "Space Grotesk", sans-serif;
  background-color: v.$dark;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: v.$white;
  line-height: 1.5;
}

.wrapper {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 4.8rem;
  padding-top: 10rem;
  padding-bottom: 5rem;
  padding-inline: 2rem;

  @media (width >= 1024px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 5.2rem;
    padding-inline: 5.6rem;
    max-width: 130rem;
    width: 100%;
    margin-inline: auto;
  }

  @media (width >= 1440px) {
    column-gap: 13rem;
  }
}

.shadow-block {
  position: absolute;
  top: -10rem;
  left: 0;
  right: 0;
  display: block;
  height: 20rem;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(v.$accent-color, 0.3);
  filter: blur(8.4rem);
  translate: 0 -50%;
  opacity: 0;
  animation-name: top-translate;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  @media (width >= 1024px) {
    filter: blur(15rem);
  }
}
