//base
@use "./scss/base/custom-reset";
@use "./scss/base/variables";
@use "./scss/base/general";
@use "./scss/base/animations";

//components
@use "./scss/components/header";
@use "./scss/components/logo";
@use "./scss/components/card";
@use "./scss/components/main-form";
@use "./scss/components/form-field";
@use "./scss/components/overlay";
@use "./scss/components/modal";

//utils
@use "./scss/utils/helper";
@use "./scss/utils/mixins";
@use "./scss/utils/placeholders";
