//base
@use "./scss/custom-reset";
@use "./scss/variables";
@use "./scss/general";

//components
@use "./scss/header";
@use "./scss/logo";
@use "./scss/main-form";
@use "./scss/form-field";

//utils
@use "./scss/helper";
