@use "./variables" as v;

.main-form {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;

  &__inner {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
  }

  &__btn {
    font-size: 1.6rem;
    font-family: inherit;
    border-radius: 0.8rem;
    border: none;
    height: 4.8rem;
    white-space: nowrap;
    padding: 0;
    background-color: v.$accent-color;
  }
}
