@use "./variables" as v;
@use "./helper" as m;

.main-form {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  max-width: 60rem;
  width: 100%;
  margin-inline: auto;

  @media (width >= 768px) {
    padding: 4.8rem;
    background-color: rgba(v.$white, 0.08);
    border-radius: 1.6rem;
    border: 0.1rem solid rgba(v.$white, 0.06);
    background-image: url("../img/dot.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }

  &__inner {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
  }

  &__btn {
    font-size: 1.6rem;
    font-family: inherit;
    border-radius: 0.8rem;
    border: none;
    height: 4.8rem;
    white-space: nowrap;
    padding: 0;
    color: v.$black;
    background-color: v.$accent-color;
  }

  &__text {
    font-size: 1.4rem;
    color: v.$gray;
  }

  &__link {
    @include m.transition(color);
    position: relative;
    color: v.$white;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: v.$gray;
      height: 0.1rem;
    }
  }
}
